
.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }




.card{

    /* width: 100% !important; */

    margin: 0 auto !important;

    

    padding: 20px;

}

.row{

    text-align: center;

}

.col-3{

    margin: auto 0;

}